<!DOCTYPE html>

<html lang="es">
<head>
    <title>Cambiar contraseña: nicolas | Portal de administracion del sistema de Checkin</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>


    <script type="text/javascript" src="/admin/jsi18n/"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css"/>


    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>


<body class=" auth-user change-form"
      data-admin-utc-offset="-18000">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name"><a href="/admin/">Sistema de checkin</a></h1>

        </div>


        <div id="user-tools">

            Bienvenido/a,
            <strong>nicolas</strong>.


            <a href="/">Ver el sitio</a> /


            <a href="/admin/password_change/">Cambiar contraseña</a> /

            <a href="/admin/logout/">Terminar sesión</a>

        </div>


    </div>
    <!-- END Header -->

    <div class="breadcrumbs">
        <a href="/admin/">Inicio</a>
        &rsaquo; <a href="/admin/auth/">Autenticación y autorización</a>
        &rsaquo; <a href="/admin/auth/user/">Usuarios</a>
        &rsaquo; <a href="/admin/auth/user/1/change/">nicolas</a>
        &rsaquo; Cambiar contraseña
    </div>


    <!-- Content -->
    <div id="content" class="colM">

        <h1>Cambiar contraseña: nicolas</h1>
        <div id="content-main">
            <form action="" method="post" id="user_form"><input type='hidden' name='csrfmiddlewaretoken' value='0TWEgj9ewZ3YNr9sxDt2z1N0ciuACEDse04QORes323HNWhMGz2J4VVthdAgV4Gm'/>
                <input type="text" name="username" value="nicolas" style="display: none"/>
                <div>


                    <p>Introduzca una nueva contraseña para el usuario <strong>nicolas</strong>.</p>

                    <fieldset class="module aligned">

                        <div class="form-row">

                            <label class="required" for="id_password1">Contraseña:</label> <input type="password" name="password1" autofocus required id="id_password1"/>

                            <div class="help">
                                <ul>
                                    <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                                    <li>Su contraseña debe contener al menos 8 caracteres.</li>
                                    <li>Su contraseña no puede ser una clave utilizada comunmente.</li>
                                    <li>Su contraseña no puede ser completamente numérica.</li>
                                </ul>
                            </div>

                        </div>

                        <div class="form-row">

                            <label class="required" for="id_password2">Contraseña (de nuevo):</label> <input type="password" name="password2" required id="id_password2"/>

                            <div class="help">Para verificar, introduzca la misma contraseña anterior.</div>

                        </div>

                    </fieldset>

                    <div class="submit-row">
                        <input type="submit" value="Cambiar contraseña" class="default"/>
                    </div>

                </div>
            </form>
        </div>


        <br class="clear"/>
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
